
html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family;
  font-size: $font-size-sm;
  color: $text-color;
  background: $background;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
  background: $primary;
  color: $white;
  text-shadow: none;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

/*
 * 为了更好的布局，一致化以下元素的样式
 */

ul,
ol{
  list-style-type: none;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/*
 * Remove extra spacing below image
 */

img {
  vertical-align: bottom;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/*
 * Hide visually and from screen readers:
 * Use hidden attribute prior, classname for fallback.
 */

[hidden],
.hidden {
  @include hidden;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  margin: 0;
}

dd {
  padding: 0;
}

@include media-print;
